*
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
/*-----------------------------------------------------------Header-------------------------------------------------------------------------------------------------------*/	
}
.top-navbar{
	position: relative;
	z-index: 10;
}
.top-navbar .navbar{
	padding: 15px 0px;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.top-navbar .navbar-default .navbar-nav .nav-link{
	color: #000000;
	font-size: 18px;
	padding: 0px 20px;
	border-radius: 4px;
}

.top-navbar .navbar-default .navbar-nav .nav-item .nav-link:hover{
	background: #b19cd9;
	color: #000000;
}
.top-navbar .navbar-default .navbar-nav .nav-item.active .nav-link{
	background: #b19cd9;
	color:#000000;
	border-radius: 4px;
}

.navbar-default.navbar-toggler:hover{
	background: #000000;
}

/*-----------------------------------------------------------End Header-------------------------------------------------------------------------------------------------------*/


.banner h1
{
	padding-top: 30px;
	font-size: 60px;
	letter-spacing: 6px;
	font-weight: 600;
	text-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.search-Hotels
{
	padding: 40px 0;
	margin: -50px 6% 50px;
	background-image: linear-gradient(to right, #6db9ef, #7ce08a);
	
}

.search.Hotels .btn-primary
{   
	 border-radius: 0;
	 box-shadow: none;
	 border: none;
	 display: inline-flex;
	 margin: 5px;
	 padding: 5px 20px;
}
/*-----------------------------------------------------------javascript-------------------------------------------------------------------------------------------------------*/
.mySlides {display:none;height:800px;}
.dropdown:hover .dropdown-content {
    display: block;
}
/*----------------------------------------------------------- End javascript-------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------Regisration-------------------------------------------------------------------------------------------------------*/
.Regi {
  
  color: #000000;
  padding: 14px 25px;
  text-align: center;
  bottom:10px;
  top:5px;
  padding-top:10px;
}

/*------------------------------------------------------------End Registration--------------------------------------------------------------------------------------------------*/

/*----------------Gallery------------------------------------------------------------------------------------------------------*/

#gallery h3
{
	padding-top: 50px;
	padding-bottom: 100px;
}
#gallery h3
{
	text-align: center;
	padding-bottom: 40px;
}
h3::before
{
           content: '';
		   background-image:linear-gradient(to right, #6db9ef, #7ce08a);
		   width: 50px;
		   height: 30px;
		   position: absolute;
		   z-index: -10;
		   margin-top: -15px;
		   border-top-left-radius: 70px;
		   border-bottom-right-radius: 90px;
}	
#gallery img
{
	max-width: 200px;
	margin: 10px 20px;
	
}

/*---------------- End Gallery------------------------------------------------------------------------------------------------------*/

</*----------------------Contact------------------------------------------------------------------------------------------------*/

#Contact h2
{
	padding-top: 50px;
	padding-bottom: 100px;
}
#Contact h2
{
	text-align: center;
	padding-bottom: 40px;
}
h2::before
{
           content: '';
		   background-image:linear-gradient(to right, #6db9ef, #7ce08a);
		   width: 50px;
		   height: 30px;
		   position: absolute;
		   z-index: -10;
		   margin-top: -15px;
		   border-top-left-radius: 70px;
		   border-bottom-right-radius: 90px;



}

.contact-box{
	padding: 70px 0px;
}

.image {
    width: 100%;
    height: 500px;
    border-radius: 0px;
    margin: 0px auto ;
}


/*------------------------------------------------------------End Gallery------------------------------------------------------------------------------------------------------*/
</*-----------------------------------------------------------Reservation-----------------------------------------------------------------------------------*/

.reservation-box{
	padding: 70px 0px;
}

.reservation-box h3{
	padding: 0px 15px;
	margin-bottom: 10px;
	font-weight: 600;
}



.form-control{
	background-color: #ffffff;
}

.form-control{
	border-radius: 0px;
	min-height: 50px;
}
.form-control:focus{
	border: 1px solid #d0a772;
	box-shadow: none;
}

.form-group .picker__input.picker__input--active{
	border-color: #d0a772;
}

.submit-button{
	margin-top: 40px;
}
.btn.btn-common{
	color: #d0a772;
	background-color: transparent;
	background-image: none;
	border-color: #cfa671;
}
.btn.btn-common:hover{
	color: #ffffff;
	background-color: #cfa671;
	border-color: #cfa671;
}
/*-------------------------------------------------------End Reservation------------------------------------------------------------------------------------------------------*/
   
/*---------------------Menu------------------------------------------------------------------------------------------------------*/

.menu-box{
	padding: 70px 0px;
}

.heading-title{
	margin-bottom: 50px;
}
.heading-title h2{
	color: #010101;
	font-size: 28px;
	font-family: 'Arbutus Slab', serif;
}
.heading-title p{
	font-size: 18px;
	font-weight: 200;
	margin: 0px;
}

/*--------------------------------------------------------------End Menu----------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------Table----------------------------------------------------------*/
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:100%;
}

#customers td, #customers th{
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #C6BCBC;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 20px;
  text-align: left;
  background-color:#7DEB90;
  color: white;
}
 /*-------------------------------------------------------------End Table--------------------------------------------------------------------------------------------*/  
/*---------------------------------------------------------------Footer-------------------------------------------------------------------------------------------------*/

.footer-area{
	padding-top: 55px;
	padding-bottom: 0px;
}
.bg-f{
	
	background-attachment: scroll;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	background-origin: initial;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.bg-f::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
	opacity: 0.8;
}

.footer-area .container{
	position: relative;
	z-index: 1;
}
.footer-area h3{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 24px;
	border-bottom: 1px dashed rgba(207, 166, 113, 0.5);
	margin-bottom: 10px;
}
.footer-area p{
	font-size: 15px;
	color: rgba(255, 255, 255, 0.8);
	margin: 0;
	padding-bottom: 10px;
}

.footer-area p.lead{
	font-size: 19px;
	color: #ffffff;
	margin-bottom: 15px;
}
.footer-area p.lead a{
	color: #ffffff;
	margin-bottom: 15px;
}
.footer-area p.lead a:hover{
	color: #d0a772;
}
.footer-area p a{
	font-size: 18px;
	color: #ffffff;
}
.footer-area p a:hover{
	color: #d0a772;
}

.subscribe_form {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.subscribe_form .form_input {
    display: block;
    background-color: rgba(0,0,0,0.7);
    color:#fff;
    border: none;
    font-size: 19px;
    line-height: 50px;
    padding: 0 10px;
    float: left;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.subscribe_form .submit {
    background-color: #d0a772;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    float: left;
    width: 100%;
	border: none;
	cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.subscribe_form .submit:hover{
	background: #010101;
}

.f-social {
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 20px;
}
.f-social li a {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
	margin-right: 10px;
}

.copyright{
	margin-top: 20px;
	position: relative;
	display: block;
	background-color: #010101;
	border-top: 1px dashed rgba(207, 166, 113);
	padding: 30px 0;
	z-index: 1;
}

.copyright .company-name{
	font-size: 16px;
	text-align: center;
}
.copyright .company-name a{
	font-size: 16px;
}

/*----------------------------------------------------------------------------------------------------End Footer-------------------------------------------------------------------------------------------------*/


























